.tabset_tabs	{ margin:0; padding:0; list-style-type:none; position:relative; z-index:2; white-space:nowrap }
.tabset_tabs li	{ margin:0; padding:0; display:inline }
.tabset_tabs a	{ color:#ff7300 ! important; background-color:#303030 ! important; border-right:1px solid #fcdcb5; text-decoration:none; padding:0 0.6em; border-left-width:0; border-bottom:none }
.tabset_tabs a:hover	{ color:#fcdcb5 ! important; }
.tabset_tabs a.active	{ color:#303030 ! important; background-color:#fcdcb5 ! important; border-color:black; border-left-width:0px; cursor:default; border-bottom:white; padding-top:1px; padding-bottom:1px }
.tabset_tabs a:hover.active	{ text-decoration:none; color:#303030; }

.tabset_tabs li.firstchild a	{ border-left-width:0px }

.tabset_content	{ border:0px; background-color:#fcdcb5; position:relative; z-index:1; padding:0.5em 1em; display:none }
.tabset_label	{ display:none }

.tabset_content_active	{ display:block }

@media aural{
	.tabset_content,
	.tabset_label	{ display:block }
}